@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";

@keyframes loader-shimmer {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}


